<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>第一件要做的事情</title>
<link href="//cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
  type="text/css" />
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="//cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js" th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
</head>
<body>
  <p></p>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>名称</th>
        <th>信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>id</td>
        <td th:text="${todo.id}">1</td>
      </tr>
      <tr>
        <td>name</td>
        <td th:text="${todo.name}"></td>
      </tr>
      <tr>
        <td>开始时间</td>
        <td th:text=${todo.startTime}>2000-11-12</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>
</html>